:root {
    --primary: black;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.btn-inner {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #007CC7;
    width: 20%;
    border: 1px solid #242424;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);

}

.btn--outline {
    background-color: transparent;
    color: green;
    padding: 8px 20px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
    color: #007CC7;
}

.btn--medium:hover,
.btn--large:hover,
.btn-inner:hover  {
    background-color: #007CC7;
    color: #242424;
    transition: all 0.3s ease-out;
    ;
}